.header {
    background-color: #FFFFFF;
}
.header-logo {
    list-style-type: none;
}
.header-logo-a {
    width: 44px;
    height: 22px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-b {
    width: 71px;
    height: 22px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-logo-a:hover,
.header-logo-a:focus,
.header-logo-b:hover,
.header-logo-b:focus {
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.header-list {
    list-style-type:none;
}
.header-link {
    left: 0px;
    top: 0px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.header-mail {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
    color: #404BBF;
    text-decoration: underline #404BBF;
    border-radius: 2px;
}

.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-button {
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor:pointer;
}
.hero-button:hover,
.hero-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.secondary {
    background-color: #FFFFFF;
}
.secondary-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
/* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

/* NAVY BLUE */

    color: #2E2F42;
}
.secondary-list {
    list-style-type:none;
}
.secondary-item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
/* identical to box height, or 120% */

    letter-spacing: 0.02em;

/* NAVY BLUE */

    color: #2E2F42;
}
.secondary-item-description {
    width: 264px;
    height: 72px;

/* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
/* or 150% */

    letter-spacing: 0.02em;

/* SLATE */

    color: #434455;
}
.footer {
    background-color: #2E2F42;
}
.footer-logo {
    list-style-type: none;
}
.footer-logo-a {
    width: 44px;
    height: 22px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo-b {
    width: 71px;
    height: 22px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-logo-a:hover,
.footer-logo-a:focus,
.footer-logo-b:hover,
.footer-logo-b:focus {
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.footer-description {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
/* or 150% */

    letter-spacing: 0.02em;

/* CORNFLOWER */

    color: #E7E9FC;
}

.team {
    background-color: #F4F4FD;
}
.team-title {
/* Header 2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
/* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

/* NAVY BLUE */

    color: #2E2F42;

}
.team-list {
    list-style-type:none;
}
.team-item-title {
/* Header 3 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
/* identical to box height, or 120% */

    text-align: center;
    letter-spacing: 0.02em;

/* NAVY BLUE */

    color: #2E2F42;

}
.team-item-title:hover,
.team-item-title:focus {
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.team-item-description {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;

/* SLATE */

    color: #434455;
}
.team-item-description:hover,
.team-item-description:focus {
    color: #404BBF;
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.portfolio {
    background-color: #FFFFFF;
}
.portfolio-main-button {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-list {
    list-style-type: none;
}
.portfolio-button {
    background: #F4F4FD;
/* CORNFLOWER */

    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}
.gallery {
    background-color: #FFFFFF;
}
.gallery-list {
    list-style-type:none;
}
.gallery-item-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
/* identical to box height, or 120% */

    letter-spacing: 0.02em;

/* NAVY BLUE */

    color: #2E2F42;

}
.gallery-item-header:hover,
.gallery-item-header:focus {
    text-decoration: underline #404BBF;
    border-radius: 2px;
}
.gallery-item-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */
    letter-spacing: 0.02em;
/* SLATE */
    color: #434455;
}
.gallery-item-description:hover,
.gallery-item-description:focus {
    color: #404BBF;
    text-decoration: underline #404BBF;
    border-radius: 2px;
}